.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  text-align: right;
  right: -2rem;
  min-width: 160px;
  // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  padding-top: 0.5rem;
  z-index: 1;
  background-color: white;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.loginParentAvatar {
  object-fit: cover;
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 0.75rem;

  @media (min-width: $breakPointM) {
    min-width: 2rem;
  }
}

.mobileMenuContainer {
  // Set a max height of 100vh - headerHeight and mobileMenu padding
  max-height: calc(100vh - $headerHeight - 1rem);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  // move the scrollbar out of view
  padding-right: 3rem;
  box-sizing: content-box;
}
