.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  padding-top: 0.5rem;
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.loginParentAvatar {
  object-fit: cover;
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 0.75rem;

  @media (min-width: $breakPointM) {
    min-width: 2rem;
  }

  @media (min-width: $breakPointL) {
    margin-left: 1.75rem;
  }
}
