.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  font-size: $DesktopFontSizeM;

  &.hamburg {
    font-size: 1rem;
    margin: 0 0 0 auto;
    @media screen and (max-width: 899px) {
      padding-top: 4rem;
    }
    @media (max-width: $breakPointS) {
      padding: 3rem 0;
    }
  }

  &.hamburg ul {
    gap: 30px;
  }

  &.hamburg.mobileMenuContainer ul {
    & li > span {
      /* don't display headings for 2nd level menus on mobile */
      display: none;
    }

    & ul {
      font-size: 80%;
      font-weight: normal;
    }

    & ul li {
      margin: 0;
      padding-top: 1rem;
    }
  }
}

.featuredButton {
  margin-left: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  height: 1px;
  width: 1px;
  position: absolute;
  text-align: right;
  right: -1rem;
  // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  padding-top: 0.5rem;
  z-index: 1;
  background-color: white;
  overflow: hidden;
}

.hamburg .dropdownContent {
  background: none;
  & ul {
    margin-right: -16px;
    padding: 1px 16px;
    background: white;
  }
}

.hamburg .dropdown:hover .dropdownContent ul {
  border: 3px solid black;
}

.dropdown:hover .dropdownContent,
.dropdown:focus-within .dropdownContent {
  height: auto;
  width: auto;
  min-width: 160px;
}

.loginParentAvatar {
  object-fit: cover;
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 0.75rem;

  @media (min-width: $breakPointM) {
    min-width: 2rem;
  }
}

.mobileMenuContainer {
  // Set a max height of 100vh - headerHeight and mobileMenu padding
  max-height: calc(100vh - $headerHeight - 1rem);
  width: calc(100% + 3rem);
  height: 100%;
  overflow-y: scroll;
  // move the scrollbar out of view
  padding-right: 3rem;
  box-sizing: content-box;

  &.hamburg {
    width: 100%;
  }
}

.button {
  background: none;
  color: inherit;
  font: inherit;
  font-size: $DesktopFontSizeM;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (max-width: $breakPointM) {
    font-size: $MobileFontSizeM;
  }
}

.loginIcon {
  width: 36px;
  margin-left: -5px;

  @media (max-width: $breakPointM) {
    width: 32px;
    margin-left: 0;
  }
}

.loginLink {
  display: inline-flex;
  align-items: center;
  // Needed because otherwise the underline would be partially invisible
  // becaufe of dropdown of neighbour menu element
  position: relative;
  z-index: 1;
}
