@import '../vars.scss';

$bgColors: (
  violet: $violet,
  aqua: $aqua,
  red: $red,
  white: $white,
  black: $black,
);

@each $label, $color in $bgColors {
  .bg-#{'' + $label} {
    background: #{$color};
    background-color: #{$color};
  }
}

// COLOR SCHEMES
.colorSchemeWhite {
  background-color: $white;
  color: $black;
  --primary-color: #{$white};
  --secondary-color: #{$violet};
  --bg-color: #{$white};
  --font-color: #{$black};
  --heading-color: #{$violet};
  --text-on-secondary-color: #{$white};
  --button-font-color: #{$violet};
  --button-bg-color: rgb(152, 133, 255); // IE Fallback
  --button-bg-color: #{$violetTransparent};
  --button-hover-bg-color: #{$violet};
  --button-hover-font-color: #{$white};
  --input-border-color: #{$violet};
  --input-font-color: #{$violet};
}

.colorSchemeRoseOnWhite {
  background-color: $white;
  color: $black;
  --primary-color: #{$white};
  --secondary-color: #{$rose};
  --bg-color: #{$white};
  --font-color: #{$black};
  --heading-color: #{$black};
  --text-on-secondary-color: #{$black};
  --button-font-color: #{$black};
  --button-bg-color: #{$white};
  --button-hover-bg-color: #{$rose};
  --button-hover-font-color: #{$black};
  --button-focus-bg-color: #{$roseDark};
  --button-focus-font-color: #{$black};
  --input-border-color: #{$black};
  --input-font-color: #{$black};
}

.colorSchemeViolet {
  background-color: $violet;
  color: $white;
  --primary-color: #{$violet};
  --secondary-color: #{$white};
  --bg-color: #{$violet};
  --font-color: #{$white};
  --heading-color: #{$white};
  --text-on-secondary-color: #{$black};
  --button-font-color: #{$white};
  --button-bg-color: #{$black}; // IE Fallback
  --button-bg-color: #{$whiteTransparent};
  --button-hover-bg-color: #{$white};
  --button-hover-font-color: #{$violet};
  --input-border-color: #{$black};
  --input-font-color: #{$violet};
}

.colorSchemeAqua {
  background-color: $aqua;
  color: $white;
  --primary-color: #{$aqua};
  --secondary-color: #{$white};
  --bg-color: #{$aqua};
  --font-color: #{$white};
  --heading-color: #{$white};
  --text-on-secondary-color: #{$black};
  --button-font-color: #{$white};
  --button-bg-color: #{$black}; // IE Fallback
  --button-bg-color: #{$whiteTransparent};
  --button-hover-bg-color: #{$white};
  --button-hover-font-color: #{$aqua};
  --input-border-color: #{$black};
  --input-font-color: #{$aqua};
}

.colorSchemeRed {
  background-color: $red;
  color: $white;
  --primary-color: #{$red};
  --secondary-color: #{$white};
  --bg-color: #{$red};
  --font-color: #{$white};
  --heading-color: #{$white};
  --text-on-secondary-color: #{$black};
  --button-font-color: #{$white};
  --button-bg-color: #{$black}; // IE Fallback
  --button-bg-color: #{$whiteTransparent};
  --button-hover-bg-color: #{$white};
  --button-hover-font-color: #{$red};
  --input-border-color: #{$black};
  --input-font-color: #{$red};
}

.colorSchemeRose {
  background-color: $rose;
  color: $black;
  --primary-color: #{$rose};
  --secondary-color: #{$white};
  --bg-color: #{$rose};
  --font-color: #{$black};
  --heading-color: #{$black};
  --text-on-secondary-color: #{$black};
  --button-font-color: #{$black};
  --button-bg-color: #{$white};
  --button-hover-bg-color: #{$black};
  --button-hover-font-color: #{$white};
  --button-focus-bg-color: lighten(#{$black}, 20%);
  --button-focus-font-color: #{$white};
  --input-border-color: #{$black};
  --input-font-color: #{$black};
}
