.loadingAnimationContainer {
  text-align: center;

  &.fixed {
    position: fixed;
    z-index: 1050;
    top: $headerHeight;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.loadingAnimation {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  & div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $red;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  & div:nth-child(1) {
    left: 8px;
    animation: loadingAnimation1 0.6s infinite;
  }

  & div:nth-child(2) {
    left: 8px;
    animation: loadingAnimation2 0.6s infinite;
  }

  & div:nth-child(3) {
    left: 32px;
    animation: loadingAnimation2 0.6s infinite;
  }

  & div:nth-child(4) {
    left: 56px;
    animation: loadingAnimation3 0.6s infinite;
  }
}

@keyframes loadingAnimation1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loadingAnimation3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loadingAnimation2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
