@import '../../styles/vars.scss';

.buttonContainer {
  margin-bottom: 1.2rem;
}

.buttonContainer > div {
  display: flex;
  margin-top: 1rem;
  max-width: 25rem;
  justify-content: center;

  span {
    margin: 0.5rem 0;
  }

  @media (max-width: $breakPointS) {
    width: 100%;
  }
}

.loginForm {
  margin-bottom: 0;
}
.counterDescriptionContainer {
  max-width: 22rem;
}

.counterDescription {
  margin: 0;
  text-align: center;
  font-size: $DesktopFontSizeS;
}

.headingWhite {
  color: white !important;
}
