@import '../../styles/vars.scss';

.buttonContainer {
  margin-bottom: 2rem;
}

.buttonContainer > div {
  margin-top: 1rem;
  max-width: 25rem;

  span {
    margin: 0.5rem 0;
  }

  @media (max-width: $breakPointS) {
    width: 100%;
  }
}

.loginForm {
  margin-bottom: 0;
}

.counterDescription {
  font-size: $DesktopFontSizeS;
}

.headingWhite {
  color: white !important;
}
