.flexContainer {
  display: flex;
  justify-content: space-between;
}

.flexContainerSimple {
  display: flex;
}

.donationStatusMessage {
  margin: 4rem 0;

  h3 {
    margin: 0;
  }
}

.donationAmountRecurring {
  font-weight: bold;
}

.icon {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

.revokeButtonRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.loadingMessageContainer {
  margin-left: 1rem;
}
