@import '../../styles/utility/text.scss';

.footer {
  @extend .text-d-base;
  background: $red;
  color: $greyBright;
  min-height: 15rem;
  padding: 3rem 0 6rem;
  --secondary-color: $white;
  text-align: center;

  @media sm {
    padding: 3rem;
  }

  &.black {
    background: $black;
    color: $white;
  }

  &.hamburg {
    font-size: 18px;
    font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif;
    background: $black;
    color: $white;
    padding: 0;
    min-height: unset;
  }

  font-size: $DesktopFontSizeM;
}

.itemContainer {
  max-width: $headerWidth;
  justify-content: space-between;
  margin: auto;

  @media xl {
    width: 100%;
  }

  .hamburg & {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 29px 60px 27px 60px;
    max-width: 100%;
  }
}

.nav {
  list-style: none;
  padding: 0;
  margin: -0.5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media md {
    width: 100%;
    display: block;
    margin: 0rem 0 2rem;
    line-height: 3rem;
  }
}

.navItem {
  margin: 0;
  display: inline;
  margin: 0.5rem;
  display: block;

  @media md {
    margin: 0;
  }
}

.socialMedia {
  margin: 2rem 0;

  .hamburg & {
    margin: 2rem 2rem;
    gap: 0 60px;

    @media (max-width: $breakPointS) {
      margin: 2rem 0rem;
    }

    & svg path {
      fill: $white;
    }
    & svg:hover path {
      fill: $hh_orange;
    }
  }
}

.partnerLogos {
  margin: 1rem 0 0;
}

.footerMenuRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $breakPointM) {
    flex-direction: column;
    gap: 1rem;
  }

  .hamburg & {
    margin: auto 60px;
    gap: 0 20px;
  }
}

.berlinInfos {
  margin: 0 auto 1rem;
  width: 13rem;
  text-align: left;
}

.logo {
  display: block;
  width: 100%;
  margin: 1rem 0;
  max-width: 13rem;
}

.expeditionsLink {
  display: block;
  margin-bottom: 1rem;
}
