.body {
  font-size: $DesktopFontSizeS;
  font-weight: normal;

  :global .intro {
    font-weight: bold;
    font-size: $DesktopFontSizeL;

    @media (max-width: $breakPointS) {
      font-size: $DesktopFontSizeM;
    }
  }

  :global .wp-block-quote {
    margin: 2rem;
    font-weight: bold;
    position: relative;

    &:before {
      content: '„';
      position: absolute;
      font-size: 15rem;
      margin-top: -10.6rem;
      top: 0;
      right: 100%;
      margin-right: 1.3rem;
    }

    @media (max-width: $breakPointS) {
      margin: 1rem 0 1rem 2.5rem;

      &:before {
        font-size: 5rem;
        margin-top: -3.4rem;
        margin-right: 0.3rem;
      }
    }

    cite {
      font-weight: normal;
    }
  }

  h2 {
    margin-top: 4rem;
  }

  h3 {
    margin: 2rem 0 1rem;
    font-size: $DesktopFontSizeM;
  }

  :global .wp-block-image {
    margin: 1rem 0;

    img {
      width: 100%;
    }
  }

  :global .wp-block-pullquote {
    position: relative;
    margin: 4rem (100/-8%) 4rem 4rem;
    font-size: $DesktopFontSizeL;
    font-weight: bold;

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 1rem;
      margin-right: 2rem;
      height: 15rem;
      width: 15rem;
      background: url('./pullquote_hand.svg');
      background-repeat: no-repeat;
      background-position: center right;

      @media (max-width: $breakPointS) {
        margin-right: 1rem;
        height: 10rem;
        width: 10rem;
      }
    }

    @media (max-width: $breakPointM) {
      margin: 2rem 0 2rem 2rem;
    }

    @media (max-width: $breakPointS) {
      font-size: $DesktopFontSizeM;
      margin: 2rem 0 2rem 4rem;
    }

    blockquote {
      margin: 0;
      min-height: 4rem;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
  }
}

.tagList {
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    display: inline;

    &:not(:first-child):before {
      content: ', ';
    }
  }
}

.date {
  display: block;
}
