.profilePageSection {
  position: relative;
  background-color: $aqua;
  color: $white;
  padding: 3.3rem 4rem;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($aqua, 5%);

    h2 {
      text-decoration: underline;
    }
  }

  @media (max-width: $breakPointS) {
    padding: 3rem 3rem 5rem;
  }
}

.profilePageSectionLarge {
  grid-column: 1 / span 2;

  @media (max-width: $breakPointM) {
    grid-column: unset;
  }
}

.profileHeadline {
  margin-top: 0;

  @media (max-width: $breakPointS) {
    font-size: $MobileFontSizeXL;
  }
}

.sectionLink {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;

  > span {
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  &:after {
    content: ' >';
  }
}

.signaturesSection {
  .link {
    margin-top: 2rem;
    font-size: $DesktopFontSizeM;
  }

  .signatureStats {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakPointS) {
      flex-direction: column;
    }
  }
}

.supportText {
  margin-top: 3rem;

  @media (max-width: $breakPointS) {
    margin-top: 1rem;
  }
}

.referredUsersMessage {
  margin-top: 1rem;
  font-size: $DesktopFontSizeL;
}
