.blogPostHeader {
  background: #fff;
  background: linear-gradient(0deg, #fff, transparent);
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.blogPostTitle {
  position: relative;
  height: 100%;
}

.postTitleText {
  position: absolute;
  bottom: 0;
}
