.bodyOverlayOpen {
  overflow: hidden;
}

.modalContent {
  padding-top: 4rem;
  height: 100%;
  overflow: auto;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .hamburg & {
    overflow: visible;
  }
}

.modalStyle {
  position: fixed;
  width: 90%;
  max-width: 50rem;
  height: 90vh;
  z-index: 1040;
  background-color: $white;
  border: 1px solid $violet;
  border-radius: 25px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding-bottom: 2rem;
}

.noFixedHeight {
  height: fit-content;
}

.lonelyCloseButton {
  background-color: $red;
  width: 2.4rem;
  border-radius: 5px;
  padding: 0.5rem 0.4rem 0.4rem 0.5rem;
  margin: 1rem;
  float: right;
  cursor: pointer;
  &:hover {
    background-color: $red;
  }
  .hamburg & {
    background-color: $hh_orange;
  }
}

.innerCloseIcon {
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}
