.bodyOverlayOpen {
  overflow: hidden;
}

.modalContent {
  padding-top: 4rem;
  height: 100%;
}

.modalStyle {
  position: fixed;
  width: 90%;
  max-width: 50rem;
  height: 90vh;
  z-index: 1040;
  background-color: $white;
  border: 1px solid $violet;
  border-radius: 25px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding-bottom: 2rem;
}

.lonelyCloseButton {
  background-color: $red;
  width: 2.4rem;
  border-radius: 5px;
  padding: 0.5rem 0.4rem 0.4rem 0.5rem;
  margin: 1rem;
  float: right;
  cursor: pointer;
  &:hover {
    background-color: $red;
  }
}

.innerCloseIcon {
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}

/* slightly transparent fallback */
.backdropBlur {
  background-color: white;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(30px) brightness(0.8);
  backdrop-filter: blur(30px) brightness(0.8);

  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
