.header {
  height: $headerHeight;
  background: white;
  position: sticky;
  padding: 0 1rem;
  top: 0;
  z-index: 50;

  &.hamburg {
    font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  @media (max-width: $breakPointS) {
    height: $headerHeightS;
  }
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $headerWidth;
  height: $headerHeight;
  margin: 0 auto;

  @media (max-width: $breakPointS) {
    height: $headerHeightS;
  }
}

.mobileMenu {
  padding: 1rem 2rem;
  background-color: white;
  position: fixed;
  width: 100%;
  max-height: calc(100vh - $headerHeightS);
  overflow: hidden;
  top: $headerHeightS;
  z-index: 45;
  transform-origin: top;
  animation: 0.25s ease-in-out 0s 1 expandMenu;

  &.hamburg {
    padding: 0;
    font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: $hh_rose;
    height: calc(100vh - $headerHeightS);
    text-align: center;

    nav {
      justify-content: space-between;
      height: auto;
    }

    ul {
      width: 100%;
      font-size: $MobileFontSizeL;
      margin: auto;
    }

    li {
      margin: 0 0 1rem 0;
    }
  }
}

@keyframes expandMenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.logo {
  height: 100%;
  padding: 0.8rem 0;
  width: 15rem;

  @media (max-width: $breakPointS) {
    padding: 0.5rem 0;
    width: 12rem;
  }
}

.hamburg .logo {
  @media screen and (min-width: $breakPointXL) {
    margin-right: 2rem;
  }

  width: 12rem;
  padding: 0;
}
