.header {
  height: $headerHeight;
  background: white;
  position: sticky;
  padding: 0 1rem;
  top: 0;
  z-index: 50;

  @media (max-width: $breakPointS) {
    height: $headerHeightS;
  }
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $headerWidth;
  height: $headerHeight;
  margin: 0 auto;

  @media (max-width: $breakPointS) {
    height: $headerHeightS;
  }
}

.mobileMenu {
  padding: 1rem 2rem;
  background-color: white;
  position: fixed;
  width: 100%;
  max-height: calc(100vh - $headerHeight);
  overflow: hidden;
  top: $headerHeight;
  z-index: 45;
  transform-origin: top;
  animation: 0.25s ease-in-out 0s 1 expandMenu;
}

@keyframes expandMenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.logo {
  height: 100%;
  padding: 0.8rem 0;
  width: 15rem;

  @media (max-width: $breakPointS) {
    width: 11rem;
  }
}
