.flexItem100 {
  width: 100%;
  padding: 1rem;
  transition: all 0.25s ease-out;
}

.flexItem75 {
  width: 75%;
  padding: 1rem;
  transition: all 0.25s ease-out;

  @media (max-width: $breakPointM) {
    width: 100%;
  }
}

.flexItem50 {
  width: 50%;
  padding: 1rem;
  transition: all 0.25s ease-out;

  @media (max-width: $breakPointM) {
    width: 100%;
  }
}

.flexItem25 {
  width: 25%;
  padding: 1rem;
  transition: all 0.25s ease-out;

  @media (max-width: $breakPointM) {
    width: 100%;
  }
}

.flexItem2 {
  width: 50%;
  padding: 1rem;
  transition: all 0.25s ease-out;

  @media (max-width: $breakPointM) {
    width: 100%;
  }
}

.flexItem3 {
  width: 50%;
  padding: 1rem;
  transition: all 0.25s ease-out;

  @media (max-width: $breakPointM) {
    width: 100%;
  }
}

.editSection {
  background: white;
  height: 2rem;
  border: 1px dashed black;
}

.editElement {
  background: white;
  height: 2rem;
  width: 100%;
  border: 1px dashed black;
  margin-bottom: 1rem;
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownEditRow {
  position: relative;
  display: inline-block;
}

.dropdownEditRow:hover .dropdownEditRowContent {
  display: flex;
}

.dropdownEditRowContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -0.25rem;
}

.optionButton {
  display: block;
  padding: 1rem;
  width: 100%;
  text-align: left;

  &:hover {
    font-weight: 600;
  }
}

.hide {
  display: none;
}

.themePreview {
  border-radius: 50%;
  border: 1px solid black;
  height: 1rem;
  width: 1rem;
}

.flexRight {
  margin-left: 50%;
}

.flexLeft {
  margin-right: 50%;
}

.draftSection {
  border: 5px dashed black;
  position: relative;
}

.draftLabel {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
