.flexItem100 {
  max-width: 100%;
  min-width: 100%;
  padding: 1rem;
}

.flexItem75 {
  max-width: 75%;
  min-width: 75%;
  padding: 1rem;
}

.flexItem50 {
  max-width: 50%;
  min-width: 50%;
  padding: 1rem;
}

.flexItem25 {
  max-width: 25%;
  min-width: 25%;
  padding: 1rem;
}

.flexItem2 {
  max-width: 50%;
  min-width: 50%;
  padding: 1rem;
}

.flexItem3 {
  max-width: 50%;
  min-width: 50%;
  padding: 1rem;
}
