.keyVisualClaim {
  font-size: $DesktopFontSizeM;

  @media (max-width: $breakPointXS) {
    font-size: $DesktopFontSizeM;
  }

  @media (max-width: $breakPointS) {
    font-size: 1.5rem;
  }

  @media (max-width: $breakPointL) {
    font-size: 1.875rem;
  }

  @media (max-width: $breakPointXL) {
    font-size: 2.25rem;
  }

  @media (max-width: $breakPointXXL) {
    font-size: 3rem;
  }

  @media (min-width: $breakPointXXL) {
    font-size: 4rem;
  }
}

.keyVisualElement {
  width: 50%;

  @media (max-width: $breakPointM) {
    width: 100%;
  }
}

.keyVisual {
  @media (max-width: $breakPointM) {
    flex-direction: column;
  }
}

.keyVisualImage {
  position: relative;
  top: 3rem;
}

.manualLoadingHint {
  font-weight: normal;
  color: #444;
  text-align: center;
  margin-bottom: 5rem;
}

.popupContentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 5rem 1rem 5rem;
  gap: 2rem;
  text-align: justify;
}

@media (max-width: 600px) {
  .popupContentContainer {
    padding: 0rem 3rem 1rem 3rem;
    text-align: left;
  }
}
