.keyVisualClaim {
  font-size: $DesktopFontSizeM;

  @media (max-width: $breakPointXS) {
    font-size: $DesktopFontSizeM;
  }

  @media (max-width: $breakPointS) {
    font-size: 1.5rem;
  }

  @media (max-width: $breakPointL) {
    font-size: 1.875rem;
  }

  @media (max-width: $breakPointXL) {
    font-size: 2.25rem;
  }

  @media (max-width: $breakPointXXL) {
    font-size: 3rem;
  }

  @media (min-width: $breakPointXXL) {
    font-size: 4rem;
  }
}

.keyVisualElement {
  width: 50%;

  @media (max-width: $breakPointM) {
    width: 100%;
  }
}

.keyVisual {
  @media (max-width: $breakPointM) {
    flex-direction: column;
  }
}

.keyVisualImage {
  position: relative;
  top: 3rem;
}

.manualLoadingHint {
  font-weight: normal;
  color: #444;
}
