$inputWidth: 59rem;

.phoneNumberInputContainer {
  width: $inputWidth;
  max-width: 100%;
}

.phoneNumberInput {
  background: $white;
  border: 2px solid var(--secondary-color);
  color: var(--input-font-color);
  font-family: inherit;
  border-radius: 0;
  padding: $inputPadding;
  line-height: inherit;
  font-size: $DesktopFontSizeL;

  @media (max-width: $breakPointS) {
    width: 100%;
  }

  &.hamburg {
    border: 2px solid var(--bg-color);
    border-width: 2px;
    padding: 0.7rem 1rem 0.8rem;
    margin: 0.5rem auto;
    box-shadow: inset 0 0 0 3px var(--input-border-color);
  }

  &.fullWidth {
    width: 100%;
  }

  &::placeholder {
    color: $greyMedium;
  }

  &:focus {
    outline: none;
    border: transparent;
    border: 2px solid var(--input-border-color);
    box-shadow: inset 0 0 0 $borderWidthThick var(--input-border-color);
  }
}

.hint {
  font-size: small;
}

.disabled {
  border-color: $greyDark;
  background: $greyBright;
  color: $greyDark;
}
