.youtubeContainer {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 2rem;
  pointer-events: all;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
