@import './vars.scss';
@import './base.scss';
@import './utility/spacing.scss';
@import './utility/text.scss';
@import './utility/misc.scss';
@import './utility/flex.scss';
@import './utility/position.scss';
@import './utility/colors.scss';
@import './utility/buttons.scss';

@import 'fonts/maruWebfont.scss';
@import 'fonts/obviouslyWebfont.scss';
@import 'fonts/idealWebfont.scss';

html,
body {
  font-family: 'Ideal', Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 500;
  background: $white;
  margin: 0;
  background-color: $white;
  color: $black;
  --grid-gap: 1rem;
  --bg-color: #{$white};
  --font-color: #{$black};
  --secondary-color: #{$violet};
  --text-on-secondary-color: #{$white};
  --button-font-color: #{$violet};
  --button-bg-color: rgb(152, 133, 255); // IE Fallback
  --button-bg-color: #{$violetTransparent};
  --button-hover-bg-color: #{$violet};
  --button-hover-font-color: #{$white};
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

h1 {
  line-height: 1.4;
  font-weight: bold;
}

h1,
h2 {
  font-size: 3.375rem;
  letter-spacing: 0.15px;
  margin: 0 0 1rem 0;
  font-weight: bold;

  @media (max-width: $breakPointM) {
    font-size: 2.5rem;
    hyphens: auto;
  }

  @media (max-width: $breakPointS) {
    font-size: 2rem;
    hyphens: auto;
  }
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

h3 {
  font-size: $DesktopFontSizeM;
  margin: 0 0 1rem 0;

  @media (max-width: $breakPointM) {
    font-size: $DesktopFontSizeM;
    hyphens: auto;
  }
}

h4 {
  font-size: $DesktopFontSizeS;
  margin: 0 0 1rem 0;

  @media (max-width: $breakPointM) {
    font-size: $DesktopFontSizeS;
    hyphens: auto;
  }
}

a {
  color: currentColor;
}

p {
  line-height: 1.5;
  font-size: $DesktopFontSizeM;

  @media (max-width: $breakPointM) {
    font-size: $DesktopFontSizeS;
  }

  a {
    text-decoration: none;
    box-shadow: 0 0.1em 0 var(--bg-color), 0 0.2em 0 currentColor;

    &:hover {
      box-shadow: none;
    }
  }
}

.container {
  min-height: 100vh;
}

.pageWidth {
  /* padding-left: calc(calc(100vw - #{$headerWidth}) / 2); */
  margin: 0 auto;
  width: $headerWidth;
}

.fullWidth {
  width: 100%;
}

.sections {
  max-width: $headerWidth;
  margin: 0 auto;
}

.fontBerlin {
  font-family: 'Maru', Tahoma, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    line-height: 1 !important;
  }

  p {
    line-height: 1.25;
  }

  p a {
    box-shadow: none;
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.18em;

    &:hover {
      text-decoration: none;
    }
  }
}
