@import './vars.scss';
@import './base.scss';
@import './utility/spacing.scss';
@import './utility/text.scss';
@import './utility/misc.scss';
@import './utility/flex.scss';
@import './utility/position.scss';
@import './utility/colors.scss';
@import './utility/buttons.scss';

@import 'fonts/maruWebfont.scss';
@import 'fonts/obviouslyWebfont.scss';
@import 'fonts/idealWebfont.scss';

/* fix for jumpmarks on Safari */
:root {
  --headerHeight: #{$headerHeight};
  --headerHeightS: #{$headerHeightS};
}

/* fix for jumpmarks on Safari - @support (-webkit-touch-callout: none) didn't work */
@supports (scroll-margin-top: 1px) {
  :target {
    scroll-margin-top: var(--headerHeight);
  }

  @media (max-width: $breakPointS) {
    :target {
      scroll-margin-top: var(--headerHeightS);
    }
  }
}

[id] {
  scroll-margin-top: $headerHeight;
}

@media (max-width: $breakPointS) {
  [id] {
    scroll-margin-top: $headerHeightS;
  }
}

html,
body {
  font-family: 'Ideal', Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 500;
  background: $white;
  margin: 0;
  background-color: $white;
  color: $black;
  --grid-gap: 1rem;
  --bg-color: #{$white};
  --font-color: #{$black};
  --secondary-color: #{$violet};
  --text-on-secondary-color: #{$white};
  --button-font-color: #{$violet};
  --button-bg-color: rgb(152, 133, 255); // IE Fallback
  --button-bg-color: #{$violetTransparent};
  --button-hover-bg-color: #{$violet};
  --button-hover-font-color: #{$white};
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

h1 {
  line-height: 1.4;
  font-weight: bold;
}

h1,
h2 {
  font-size: $DesktopFontSizeXL;
  letter-spacing: 0.15px;
  margin: 0 0 1rem 0;
  font-weight: bold;

  @media (max-width: $breakPointM) {
    font-size: 2rem;
    hyphens: auto;
  }

  @media (max-width: $breakPointS) {
    font-size: $MobileFontSizeXL;
    hyphens: auto;
  }
}

section h1,
article h1,
aside h1,
nav h1 {
  font-size: $DesktopFontSizeXL; // reuse your variable
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

h2,
h3 {
  color: var(--h2-color, --heading-color);
}

h3 {
  font-size: $DesktopFontSizeL;
  margin: 0 0 1rem 0;

  @media (max-width: $breakPointM) {
    font-size: $MobileFontSizeL;
    hyphens: auto;
  }
}

h4 {
  font-size: $DesktopFontSizeM;
  margin: 0 0 1rem 0;

  @media (max-width: $breakPointM) {
    font-size: $MobileFontSizeM;
    hyphens: auto;
  }
}

a {
  color: currentColor;
}

p {
  line-height: 1.5;
  font-size: $DesktopFontSizeM;

  @media (max-width: $breakPointM) {
    font-size: $MobileFontSizeM;
  }

  a {
    text-decoration: none;
    box-shadow: 0 0.1em 0 var(--bg-color), 0 0.2em 0 currentColor;

    &:hover {
      box-shadow: none;
    }
  }
}

.hamburg span {
  line-height: 1.5;
  font-size: $DesktopFontSizeM;

  @media (max-width: $breakPointM) {
    font-size: $MobileFontSizeM;
  }
}

.hamburg h1 span,
.hamburg h2 span {
  font-size: 40px;

  @media (max-width: $breakPointS) {
    font-size: $MobileFontSizeXL;
  }
}

.hamburg .hamburgBox {
  display: inline;
  background-color: black;
  color: white;
  padding: 0em 0.3em 0.2em;
  vertical-align: middle;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.container {
  min-height: 100vh;
}

.pageWidth {
  /* padding-left: calc(calc(100vw - #{$headerWidth}) / 2); */
  margin: 0 auto;
  width: $headerWidth;
}

.fullWidth {
  width: 100%;
}

.sections {
  max-width: $headerWidth;
  margin: 0 auto;

  @media (max-width: $breakPointXL) {
    padding: 0 1rem;
  }

  .hamburg & {
    max-width: calc(0.85 * $headerWidth);
  }
}

.fontBerlin {
  font-family: 'Maru', Tahoma, Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    line-height: 1 !important;
  }

  p {
    line-height: 1.25;
  }

  p a {
    box-shadow: none;
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.18em;

    &:hover {
      text-decoration: none;
    }
  }
}

// Mapbox styles
.mapboxgl-map {
  overflow: visible !important;
  z-index: 2;
}

.mapboxgl-canvas-container {
  overflow: hidden;
  position: relative;
}

.mapboxgl-canvas {
  position: static !important;
}

.mapboxgl-ctrl-geocoder {
  color: $violet !important;
  border: 2px solid $violet;
  font-family: inherit !important;
  border-radius: 25px !important;

  @media (max-width: $breakPointM) {
    width: 70% !important;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    width: 25px !important;
    height: 25px !important;
    fill: $violet !important;

    // Specific breakpoint of mapbox stylesheet
    @media (min-width: 640px) {
      top: 6px !important;
    }

    @media (max-width: 640px) {
      top: 13px !important;
    }
  }

  .mapboxgl-ctrl-geocoder--input {
    color: $violet !important;

    &::placeholder {
      color: $greyMedium !important;
    }

    &:focus {
      @media (min-width: $breakPointM) {
        top: 13px !important;
        border-radius: 25px !important;
        outline: none;
        box-shadow: inset 0 0 0 $borderWidthThick $violet;
      }
    }
  }
}

.mapboxgl-popup-close-button {
  margin: 0.5rem;
  color: $violet;
  background: #f0f0f0;

  &:hover {
    color: $violetLight;
  }
}

.mapboxgl-popup-content {
  overflow: auto;
  border: 1px solid $violet;
  border-radius: 2px !important;
  width: 30rem;
  max-height: 25rem;

  @media (max-width: $breakPointM) {
    width: 20rem;
  }
}

.mapboxgl-ctrl-bottom-right {
  z-index: 0 !important;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(30px) brightness(0.8);
  backdrop-filter: blur(30px) brightness(0.8);

  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.hamburg {
  font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif;

  p {
    font-weight: 400;
    font-size: 1.15rem;
  }

  p a {
    text-decoration: underline;
    box-shadow: none;
  }

  strong {
    font-weight: 500;
  }

  ul,
  ol {
    line-height: 1.5;
    font-size: $DesktopFontSizeM;
    margin-left: 10px;

    @media (max-width: $breakPointM) {
      font-size: $MobileFontSizeM;
      margin-left: -10px;
    }
  }

  li {
    padding-bottom: 6px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  /* fix buggy h1 and format like h2
  h1 {
    color: $white;
    background: $black;
    border-radius: 35px;
    padding: 0.5rem;
    font-size: 42px;
    width: fit-content;
  }
  */

  h1,
  h2 {
    font-size: 40px;
    line-height: 3.2rem;

    @media (max-width: $breakPointS) {
      font-size: $MobileFontSizeXL;
      line-height: 2.4rem;
    }
  }

  h3 {
    line-height: 2.4rem;

    @media (max-width: $breakPointM) {
      font-size: $MobileFontSizeL;
      line-height: 1.8rem;
    }
  }
}

// specific to HH24
#bigNumber {
  font-size: 20rem;

  @media (max-width: $breakPointM) {
    font-size: 10rem;
  }
}

// Klaro
#cookieScreen,
#id-cookie-notice {
  font-family: 'Obviously', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#cookieScreen p {
  font-size: 1rem;
}

#cookieScreen .cm-powered-by {
  font-size: 0.7rem;
}

.klaro .cookie-modal .cm-btn.cm-btn-success,
.klaro .context-notice .cm-btn.cm-btn-success,
.klaro .cookie-notice .cn-buttons .cm-btn.cm-btn-success {
  background-color: $hh_orange;
}

.klaro .cookie-modal .cm-btn,
.klaro .context-notice .cm-btn,
.klaro .cookie-notice .cn-buttons .cm-btn,
.klaro .cookie-modal .cm-btn.cm-btn-decline {
  background-color: white;
}

.klaro .cookie-modal .cm-btn,
.klaro .context-notice .cm-btn,
.klaro .cookie-notice .cn-buttons .cm-btn,
.klaro .cookie-modal .cm-footer .cm-btn,
.klaro .context-notice .cm-footer .cm-btn,
.klaro .cookie-notice .cm-footer .cm-btn {
  border-radius: 30px;
  padding: 5px 14px;
  border: 2px solid black;
  color: black;
}

.klaro .cookie-modal .cm-link,
.klaro .context-notice .cm-link,
.klaro .cookie-notice .cm-link {
  color: black;
}

#klaro-cookie-notice {
  box-shadow: none;
  border: 2px solid black;
}

.klaro .cookie-modal .cm-purpose a,
.klaro .context-notice .cm-purpose a,
.klaro .cookie-notice .cm-purpose a {
  color: black;
}

.klaro .cookie-modal .cm-footer .cm-btn.cm-btn-info,
.klaro .context-notice .cm-footer .cm-btn.cm-btn-info,
.klaro .cookie-notice .cm-footer .cm-btn.cm-btn-info {
  background-color: $hh_orange;
}

.klaro .cookie-modal .cm-list-input:checked + .cm-list-label .slider,
.klaro .context-notice .cm-list-input:checked + .cm-list-label .slider,
.klaro .cookie-notice .cm-list-input:checked + .cm-list-label .slider {
  background-color: $hh_purple !important;
}

.klaro .cookie-modal .cm-list-label .slider,
.klaro .context-notice .cm-list-label .slider,
.klaro .cookie-notice .cm-list-label .slider {
  background-color: $black !important;
}
