$red: #ff4664;
$aqua: #46b4b4;
$blueDark: #3423f6;
$rose: #e5b5c8;
$violet: #7d69f6;
$yellow: #fef377;
$grey: #f0f0f0;
$greyBright: #f5f5f5;
$greyMedium: #dedede;
$white: white;
$black: black;
$violetLight: #ae9fff;

$violetTransparent: rgba(120, 95, 255, 0.2);
$whiteTransparent: rgba(255, 255, 255, 0.2);
$aquaTransparent: rgba(70, 180, 180, 0.2);

$headerHeight: 5rem;
$headerHeightS: 4rem;

$headerWidth: 70rem;
