.parent {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  height: 180px;
  width: 95%;
}

.facebook {
  grid-area: 1 / 1 / 3 / 2;
}
.twitter {
  grid-area: 1 / 8 / 3 / 10;
}
.whatsapp {
  grid-area: 2 / 10 / 4 / 12;
}
.telegram {
  grid-area: 2 / 12 / 3 / 14;
}
.email {
  grid-area: 3 / 6 / 4 / 7;
}
.instagram {
  grid-area: 1 / 5 / 2 / 6;
}
.tiktok {
  grid-area: 2 / 3 / 4 / 5;
}

.facebookIcon {
  width: 85px;
  height: 85px;
}
.twitterIcon {
  width: 70px;
  height: 70px;
}
.whatsappIcon {
  width: 90px;
  height: 90px;
}
.telegramIcon {
  width: 60px;
  height: 60px;
}
.emailIcon {
  width: 65px;
  height: 65px;
}
.instagramIcon {
  width: 70px;
  height: 70px;
}
.tiktokIcon {
  width: 85px;
  height: 85px;
}

.parent > * {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.parent > *:hover {
  transform: scale(1.6);
  z-index: 10;
}

.iconWrapper {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.iconImage {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.iconWrapper:hover {
  transform: scale(1);
  z-index: 10;
}

.instagram .iconWrapper {
  width: 70px;
  height: 70px;
  background-color: #e1306c;
}

.tiktok .iconWrapper {
  width: 85px;
  height: 85px;
  background-color: #000000;
}

@media (max-width: 768px) {
  .facebookIcon,
  .twitterIcon,
  .whatsappIcon,
  .telegramIcon,
  .emailIcon,
  .instagramIcon,
  .tiktokIcon {
    width: 60px;
    height: 60px;
  }

  .parent {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: auto;
    grid-gap: 30px;
    justify-items: center;
    width: max-content;
  }

  .parent > * {
    grid-area: unset !important;
  }

  .iconWrapper {
    width: 60px !important;
    height: 60px !important;
  }
}
