name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install modules
        run: yarn install

      - name: Check formating
        run: yarn run prettier:check

      - name: Check linting
        run: yarn run lint

      - name: Production build
        run: yarn build
