@import '../../../../styles/vars.scss';

.navList {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  height: 100%;

  @media (max-width: $breakPointM) {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 1rem;
    background: $white;
    display: none;
    height: auto;
    border-bottom: 1px solid black;

    &.isOpen,
    &:focus-within {
      display: block;
    }
  }
}

.navItem {
  color: black;

  @media (min-width: $breakPointM) {
    &:not(.navItemChild) {
      & + & {
        margin-left: 0rem;
      }
    }
  }
  @media (max-width: $breakPointM) {
    &:not(.navItemChild) {
      & + & {
        margin-top: 1rem;
      }
    }
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;

    &:hover {
      @extend .linkUnderlined;
      margin-bottom: -0.05em;
    }
  }
}

.navItemChild {
  & + & {
    margin-top: 1rem;

    @media (max-width: $breakPointM) {
      margin-top: 0.5rem;
    }
  }
}

.menuItemParentChildren {
  list-style: none;
  z-index: 4;

  .navItemParent:hover & {
    height: auto;
    width: 30rem;
  }

  .navItemParent:focus-within & {
    height: auto;
    width: 30rem;
  }

  @media (max-width: $breakPointM) {
    padding: 0.5rem 0 0 1rem;
  }

  @media (min-width: $breakPointM) {
    height: 1px;
    width: 1px;
    padding: 0;
    text-align: right;
    position: absolute;
    top: 100%;
    right: -2rem;
    overflow: hidden;
  }
}

.menuItemParentChildrenInner {
  list-style: none;
  padding: 0;

  @media (min-width: $breakPointM) {
    background: $white;
    padding: 1rem 1rem 1rem;
    display: inline-block;
  }
}

.navItemParent {
  position: relative;
}

.menuItemParentTitle {
  cursor: default;
}

.loginParentTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  max-width: 18rem;
  @media (max-width: $breakPointXL) {
    max-width: 10rem;
  }
  @media (max-width: $breakPointL) {
    max-width: 8rem;
  }
  @media (max-width: $breakPointM) {
    max-width: min-content;
  }
}

.loginParentAvatar {
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin-right: 0.75rem;

  @media (min-width: $breakPointM) {
    min-width: 2rem;
  }

  @media (min-width: $breakPointL) {
    margin-left: 1.75rem;
  }
}

.loginParentTitleText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link {
  @extend .menuLink;

  &.linkActive,
  &:hover {
    @extend .linkUnderlined;
  }
}

.donationCTA {
  background: $red;
  border-radius: 0.2rem;
  color: $white;
  display: inline-block;
  margin: 0 1rem;
  padding: 0.4rem 0.9rem;
  text-decoration: none;

  @media (max-width: $breakPointM) {
    margin: 1.5rem 1rem;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: darken($red, 10%);
  }
}

.loginLink {
  display: inline-flex;
  align-items: center;
}

.loginIcon {
  width: 36px;
  margin-left: -5px;

  @media (max-width: $breakPointM) {
    width: 28px;
    margin-left: 0;
  }
}

.hiddenLink {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
